<p id="notice"><%= notice %></p>

<p>
  <b>Ln:</b>
  <%= @person.ln %>
</p>

<p>
  <b>Fn:</b>
  <%= @person.fn %>
</p>

<p>
  <b>Mn:</b>
  <%= @person.mn %>
</p>

<p>
  <b>Dob:</b>
  <%= @person.dob %>
</p>

<p>
  <b>Tel1:</b>
  <%= @person.tel1 %>
</p>

<p>
  <b>Ptype id1:</b>
  <%= @person.ptype_id1 %>
</p>

<p>
  <b>Tel2:</b>
  <%= @person.tel2 %>
</p>

<p>
  <b>Ptype id2:</b>
  <%= @person.ptype_id2 %>
</p>

<p>
  <b>Add:</b>
  <%= @person.add_id %>
</p>

<p>
  <b>Contact:</b>
  <%= @person.contact %>
</p>

<p>
  <b>Client:</b>
  <%= @person.client %>
</p>

<p>
  <b>Tech:</b>
  <%= @person.tech %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
