<p id="notice"><%= notice %></p>

<p>
  <b>Add1:</b>
  <%= @address.add1 %>
</p>

<p>
  <b>Add2:</b>
  <%= @address.add2 %>
</p>

<p>
  <b>Add3:</b>
  <%= @address.add3 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%= @address.phone1 %>
</p>

<p>
  <b>Phone1type:</b>
  <%= @address.phone1type %>
</p>

<p>
  <b>Phone2:</b>
  <%= @address.phone2 %>
</p>

<p>
  <b>Phone2type:</b>
  <%= @address.phone2type %>
</p>

<p>
  <b>Phone3:</b>
  <%= @address.phone3 %>
</p>

<p>
  <b>Phone3type:</b>
  <%= @address.phone3type %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
<%= link_to 'Testing Locations', testlocs_path %>
